* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #e2d7f7;
}

.msg {
  color: red;
  font-size: 18px;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #e2d7f7;
}

.form form {
  background-color: rgb(244, 244, 244);
  text-align: center;
  box-shadow: 0 6px 20px rgb(144, 144, 144);
  border-radius: 10px;
  padding: 2rem;
  width: 28rem;
}

.form form h2 {
  margin-bottom: 1.5rem;
}

.form form input,
select {
  padding: 10px 15px;
  font-size: 15px;
  width: 100%;
  margin-bottom: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form form button {
  margin-top: 10px;
  width: 100%;
  background-color: #783595;
  color: white;
  font-size: 15px;
  padding: 10px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form form p {
  font-size: 15px;
  margin-top: 8px;
}

.user-page {
  text-align: center;
  margin-top: 15rem;
  background-color: white;
  padding: 1rem;
}

.user-page p {
  font-size: 18px;
  margin-top: 2rem;
}

.user-page button {
  background-color: #783595;
  color: white;
  margin-top: 15px;
  padding: 10px 25px;
  font-size: 17px;
  border: none;
  border-radius: 5px;
}
